@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --border: #e4e4e7;
  --card: #f4f4f5;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --border: #27272a;
  --card: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: radial-gradient(
    circle at top,
    rgba(255,255,255,0.08),
    transparent 45%
  );

  pointer-events: none;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;

  background-image: linear-gradient(
      rgba(120,120,120,0.08) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(120,120,120,0.08) 1px,
      transparent 1px
    );

  background-size: 40px 40px;

  pointer-events: none;
  z-index: -1;
}

:root body::after {
  opacity: 0.4;
}

.dark body::after {
  opacity: 0.6;
}

* {
  cursor: none;
}